*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(75, 53, 97); */
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    justify-content: center;
    color: aliceblue;

}

