*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(75, 53, 97); */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: aliceblue;

}

#navcontent{
    min-height: 20vh;
    background-color: blueviolet;
}
#footercontent{
    min-height: 20vh;
    background-color: rgb(67, 38, 95);
}
#bodycontent{
    min-height: 60vh;
    background-color: rgb(140, 93, 183);
}