*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(75, 53, 97);
}
.cont{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}